In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("bitcoin2.csv")
del df["Unnamed: 0"]

In [3]:
df.head()

           V1        V2    V3
0  2013090315  160000.0  0.10
1  2013090401  150000.0  0.20
2  2013090409  180000.0  2.94
3  2013090414  180000.0  0.50
4  2013090510  150000.0  0.10

In [4]:
df.columns = ['date', 'price','volume']

In [5]:
df.head()

         date     price  volume
0  2013090315  160000.0    0.10
1  2013090401  150000.0    0.20
2  2013090409  180000.0    2.94
3  2013090414  180000.0    0.50
4  2013090510  150000.0    0.10

In [17]:
import datetime
str(df.date[0])[:8]

'20130903'

In [22]:
print(datetime.datetime.strptime(str(df.date[0])[:8],"%Y%m%d"))

2013-09-03 00:00:00

In [24]:
df.date = [datetime.datetime.strptime(str(i)[:8],"%Y%m%d") for i in df.date]

In [26]:
unique = list(set(df.date))

In [27]:
unique = sorted(unique)

In [28]:
data = pd.DataFrame()

In [29]:
data["Date"] = unique

In [31]:
data['open'] = unique
data['high'] = unique
data['low'] = unique
data['close'] = unique
data['volume'] = unique

In [32]:
data['volume'].loc[0] = 1

In [33]:
data['volume'] = df.volume.groupby(df.date).sum().values

In [34]:
data['high'] = df.price.groupby(df.date).max().values

In [35]:
data['open'] = df.price.groupby(df.date).first().values

In [36]:
data['low'] = df.price.groupby(df.date).min().values

In [37]:
data['close'] = df.price.groupby(df.date).last().values

In [38]:
data.head()

        Date      open      high       low     close  volume
0 2013-09-03  160000.0  160000.0  160000.0  160000.0    0.10
1 2013-09-04  150000.0  180000.0  150000.0  180000.0    3.64
2 2013-09-05  150000.0  160000.0  150000.0  160000.0    1.40
3 2013-09-06  145000.0  145000.0  145000.0  145000.0    0.20
4 2013-09-07  145000.0  145000.0  140000.0  140000.0    0.40

In [39]:
data.to_csv("Bitcoin_candle2.csv")