In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("chart_data/bitcoin_candle2.csv")
del df["Unnamed: 0"]

In [3]:
df.head()

         Date      open      high       low     close  volume
0  2013-09-03  160000.0  160000.0  160000.0  160000.0    0.10
1  2013-09-04  150000.0  180000.0  150000.0  180000.0    3.64
2  2013-09-05  150000.0  160000.0  150000.0  160000.0    1.40
3  2013-09-06  145000.0  145000.0  145000.0  145000.0    0.20
4  2013-09-07  145000.0  145000.0  140000.0  140000.0    0.40

In [149]:
df['26_ewma'] = pd.ewma(df.close, span=26-1)
df['12_ewma'] = pd.ewma(df.close, span=12-1)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: pd.ewm_mean is deprecated for Series and will be removed in a future version, replace with
	Series.ewm(span=25,min_periods=0,adjust=True,ignore_na=False).mean()
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: pd.ewm_mean is deprecated for Series and will be removed in a future version, replace with
	Series.ewm(span=11,min_periods=0,adjust=True,ignore_na=False).mean()

In [150]:
df['MACD'] = (df['12_ewma'] - df['26_ewma'])

In [151]:
df['signal'] = pd.ewma(df.MACD, span=9-1)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: pd.ewm_mean is deprecated for Series and will be removed in a future version, replace with
	Series.ewm(span=8,min_periods=0,adjust=True,ignore_na=False).mean()
  """Entry point for launching an IPython kernel.

In [153]:
df = df[(df['Date'] >= '2018-04-01')&(df['Date'] <= '2018-10-01')]

In [154]:
dff = df[['MACD','signal']]

In [164]:
balance = 10000000
num_coins = 0
invest_amount=0
buy=0
sell=0
hold=0

In [165]:
action_list=[]
for i in dff.values:
    if i[0] >= i[1]:
        action = 0
    else:
        action = 1
    action_list.append(action)

In [166]:
balance_list = []
for idx, action in enumerate(action_list):
    validity = True
    if action == 0:
        if balance < df.close.values[idx]:
            validity = False
        if validity:
            balance = balance - df.close.values[idx]
            invest_amount = df.close.values[idx]
            balance -= invest_amount  # 보유 현금을 갱신
            num_coins += 1  # 보유 코인 수를 갱신
            buy += 1  # 매수 횟수 증가
            balance_list.append(balance)

    elif action == 1:
        if num_coins <= 0:
            validity = False
        if validity:
            invest_amount = df.close.values[idx]
            num_coins -= 1  # 보유 코인 수를 갱신
            balance += invest_amount  # 보유 현금을 갱신
            sell += 1  # 매도 횟수 증가
            balance_list.append(balance)
    if validity == False:
        hold += 1

        balance_list.append(balance)

In [172]:
balance_list

[10000000,
 10000000,
 10000000,
 10000000,
 10000000,
 10000000,
 10000000,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 -5241000.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0,
 4946500.0]

In [171]:
len(df)

184

In [75]:
    def act(self, action, confidence):
        if not self.validate_action(action):
            action = Agent.ACTION_HOLD # action을 할 수 없으면 관망

        # 환경에서 현재 가격 얻기
        current_price = self.environment.get_price()

        # 즉시 보상 초기화
        self.immediate_reward = 0

        # 매수
        if action == Agent.ACTION_BUY:
            # 매수할 단위를 판단
            trading_unit = self.decide_trading_unit(confidence)
            balance = self.balance - current_price * (1 + self.TRADING_CHARGE) * trading_unit

            if balance < 0: # 보유 현금이 모자랄 경우 보유 현금으로 가능한 만큼 최대한 매수
                trading_unit = max(min(
                    int(self.balance / (current_price * (1 + self.TRADING_CHARGE))), self.max_trading_unit),
                    self.min_trading_unit
                )
            # 수수료를 적용하여 총 매수 금액 산정
            invest_amount = current_price * (1 + self.TRADING_CHARGE) * trading_unit
            self.balance -= invest_amount  # 보유 현금을 갱신
            self.num_coins += trading_unit  # 보유 코인 수를 갱신
            self.num_buy += 1  # 매수 횟수 증가
            #print("매수")

        # 매도
        elif action == Agent.ACTION_SELL:
            # 매도할 단위를 판단
            trading_unit = self.decide_trading_unit(confidence)
            # 보유 코인이 모자랄 경우 가능한 만큼 최대한 매도
            trading_unit = min(trading_unit, self.num_coins)
            # 수수료 거래세 적용하여 매도
            invest_amount = current_price * (1 - (self.TRADING_TAX + self.TRADING_CHARGE)) * trading_unit
            self.num_coins -= trading_unit  # 보유 코인 수를 갱신
            self.balance += invest_amount  # 보유 현금을 갱신
            self.num_sell += 1  # 매도 횟수 증가
            #print("매도")


        # 관망
        elif action == Agent.ACTION_HOLD:
            self.num_hold += 1  # 관망 횟수 증가


        # 포트폴리오 가치 갱신
        self.portfolio_value = self.balance + current_price * self.num_coins
        loss = ((self.portfolio_value - self.base_portfolio_value) / self.base_portfolio_value)

        # 즉시 보상 판단
        self.immediate_reward = 1 if loss >= 0 else -1

        # 지연 보상 판단
        if loss > self.delayed_reward_threshold:
            delayed_reward = 1 # 수익 -> reward 1
            self.base_portfolio_value = self.portfolio_value
        elif loss < -self.delayed_reward_threshold:
            delayed_reward = -1 # 손실 -> reward -1
            self.base_portfolio_value = self.portfolio_value
        else:
            delayed_reward = 0
        return self.immediate_reward, delayed_reward

[1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [6]:
import pandas as pd
df = pd.read_csv("korbitKRW.csv", header=None)

In [8]:
df.columns = ['date','price','volume']

In [ ]:
df.head()

In [4]:
df.columns = ['date', 'price','volume']

In [4]:
df.head()

         Date      open      high       low     close  volume
0  2013-09-03  160000.0  160000.0  160000.0  160000.0    0.10
1  2013-09-04  150000.0  180000.0  150000.0  180000.0    3.64
2  2013-09-05  150000.0  160000.0  150000.0  160000.0    1.40
3  2013-09-06  145000.0  145000.0  145000.0  145000.0    0.20
4  2013-09-07  145000.0  145000.0  140000.0  140000.0    0.40

In [17]:
import datetime
str(df.date[0])[:8]

'20130903'

In [22]:
print(datetime.datetime.strptime(str(df.date[0])[:8],"%Y%m%d"))

2013-09-03 00:00:00

In [24]:
df.date = [datetime.datetime.strptime(str(i)[:8],"%Y%m%d") for i in df.date]

In [26]:
unique = list(set(df.date))

In [27]:
unique = sorted(unique)

In [28]:
data = pd.DataFrame()

In [29]:
data["Date"] = unique

In [31]:
data['open'] = unique
data['high'] = unique
data['low'] = unique
data['close'] = unique
data['volume'] = unique

In [32]:
data['volume'].loc[0] = 1

In [33]:
data['volume'] = df.volume.groupby(df.date).sum().values

In [34]:
data['high'] = df.price.groupby(df.date).max().values

In [35]:
data['open'] = df.price.groupby(df.date).first().values

In [36]:
data['low'] = df.price.groupby(df.date).min().values

In [37]:
data['close'] = df.price.groupby(df.date).last().values

In [38]:
data.head()

        Date      open      high       low     close  volume
0 2013-09-03  160000.0  160000.0  160000.0  160000.0    0.10
1 2013-09-04  150000.0  180000.0  150000.0  180000.0    3.64
2 2013-09-05  150000.0  160000.0  150000.0  160000.0    1.40
3 2013-09-06  145000.0  145000.0  145000.0  145000.0    0.20
4 2013-09-07  145000.0  145000.0  140000.0  140000.0    0.40

In [39]:
data.to_csv("Bitcoin_candle2.csv")